<div id="header">
  <p>Your sessions</p>
</div>
<div id="sessions">
  <ul [@listStagger]="sessions$">
    <li *ngIf="(sessions$ | async)?.length==0">
      <p id="nsf">No sessions found.</p>
    </li>
    <li *ngFor="let session of sessions$">
      <span class="options"><i class="material-icons">cancel</i></span>
      <a routerLink="">Science Test Retake</a>
      <p><b>Teacher: </b> Jim Bob</p>
      <p><b>Category: </b> SCIENCE</p>
      <p><b>Date: </b> 2018-03-22</p>
    </li>
  </ul>
</div>
