#sessions{
  margin-top: 10vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    #nsf{
      text-align: center;
    }

    opacity: .7;
    background: #060607;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 8px;

    .options{
      float: right;
    }

    a {
      font-size: 1.5em;
      text-decoration: none;
      font-weight: bold;
      color: #FFFFFF;
    }

    ul {
      margin-top: 20px;

      li {
        padding: 0;


        a {
          font-size: 1em;
          font-weight: 300;
        }
      }
    }
  }
}
