<div id="header">
  <p>Your sessions</p>
</div>
<div class="lds-ring" *ngIf="sessions$ == undefined"><div></div><div></div><div></div><div></div></div>
<div id="sessions">
  <ul [@listStagger]="sessions$">
    <li *ngIf="len == 0">
      <p id="nsf">No sessions found. <a routerLink="/signup">Sign up</a> for one!</p>
    </li>
    <li *ngFor="let session of sessions$">
      <span class="options"><a><i (click)="leave(session)" class="material-icons">cancel</i></a></span>
      <a routerLink="">{{session.name}}</a>
      <p><b>Teacher: </b> {{session.firstName}} {{session.lastName}}</p>
      <p><b>Category: </b> {{session.category}}</p>
      <p><b>Date: </b> {{session.date}} </p>
      <p><b>Open Seats: </b> {{session.openSeats}}</p>
      <p><b>Room: </b> {{session.classroom}}</p>
    </li>
  </ul>
</div>
