<div id="header">
  <p>Your sessions</p>
</div>
<div id="sessions">
  <ul>
    <!-- SNF
    <li>
      <p id="nsf">No sessions found.</p>
    </li>
    -->
    <li>
      <span class="options"><i class="material-icons">cancel</i></span>
      <a routerLink="">Science Test Retake</a>
      <p><b>Teacher: </b> Jim Bob</p>
      <p><b>Category: </b> SCIENCE</p>
      <p><b>Date: </b> 2018-03-22</p>
    </li>
    <li>
      <span class="options"><i class="material-icons">cancel</i></span>
      <a routerLink="">Media Center</a>
      <p><b>Teacher: </b> None</p>
      <p><b>Category: </b> None</p>
      <p><b>Date: </b> 2018-03-22</p>
    </li>
  </ul>
</div>
