.login {
  width: 70%;
  max-width: 530px;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
  margin: 10% auto 20px;
}

h1.login-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #3B3B3B;
  text-align:center;
  background: #f7f7f7;

}

.login-input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-input:focus {
  border-color:#6e8095;
  outline: none;
}

.login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #bf0127;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline:0;
}

.login-button:hover,
.login-button:focus {
  background: #bf0127b3;
}

.ins
{
  text-align:center;
  margin-bottom:0px;
  color:#666;
  font-size:13px;
}
