<div id="header">
  <p>Disclaimer</p>
</div>
<p>This website is NOT affiliated with or in any way associated with Eden Prairie Schools or VACAVA, INC. We DO NOT
  store student credentials, they are immediately deleted after being verified with the CORE application. </p>
<p>The information contained in this website is for general information purposes only. While we endeavour to keep the
  information up to date and correct, we make no representations or warranties of any kind, express or implied, about
  the completeness, accuracy, reliability, suitability or availability with respect to the website or the information,
  products, services, or related graphics contained on the website for any purpose. Any reliance you place on such
  information is therefore strictly at your own risk. </p>
<p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or
  damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with,
  the use of this website.</p>
<p>If you really do have a problem with this, contact me by <a href="mailto:alec@simplyalec.com">emailing me</a>.</p>
<p>Made by Alec Dusheck and other <a href="https://github.com/ephs/core-ng/blob/master/README.md">Github contributors</a>.</p>
