#signup-row{
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
.session {
  width: 45% !important; /* Overwrite default styles for session */
  float: left;
  margin-left: 5px;
}
@media only screen and (max-device-width: 1023px) {
  .session{
    width: 80% !important;
    float: none !important;
    margin-left: 0 !important;
  }
  #signup-footer{
    margin: 0 !important;
  }
}
/*
#signup-footer{
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 2;
  right: 0;
  bottom: 0;
  margin: 0 0 0 70px;
  background-color: #292727;
}
*/
.search {
  margin-left: 5px;
  width: 40%;
  position: relative;
  margin-top: 3px;

}
.searchText {
  float: left;
  width: 100%;
  height: 33px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
