/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  // background: linear-gradient(120deg, rgba(150, 40, 40, 0.95), rgb(41, 39, 39));
  background: linear-gradient(120deg, rgb(171, 40, 40), rgb(41, 39, 39));
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  color: #fff;
}

html{
  height: 100vh;
  min-height: 100%;
}

html, body {
  overflow: auto;
}

#header{
  p{
    font-size: 10vh;
    margin-bottom: 1vh;
  }
  @media only screen and (max-device-width: 1023px) {
    p{
      margin-top: 0;
      font-size: 8vh;
    }
  }
}

.material-icons{
  cursor: pointer;
}

#container {
  display: -webkit-inline-box; /* Honestly Safari and IE are the worst browsers(flexbox on safari). */
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;

  #content {
    padding: 30px 50px;
    #sessions{
      margin-top: 10vh;

      .session{
        width: 80%;
        height: 20vh;
      }

    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        #nsf{
          text-align: center;
          font-size: 2vh;
          a{
            font-size: inherit !important;
            font-weight: inherit !important;
            text-decoration: underline !important;
          }
        }

        opacity: .7;
        background: #060607;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;
        font-size:calc(80% - 0.1vh);



        .options{
          float: right;
        }

        a {
          font-size: 1.5em;
          text-decoration: none;
          font-weight: bold;
          color: #FFFFFF;
        }

        ul {
          margin-top: 20px;

          li {
            padding: 0;


            a {
              font-size: 1em;
              font-weight: 300;
            }
          }
        }
      }
    }

  }
  @media only screen and (max-device-width: 1023px) {
    #content{
      padding: 30px 20px;
    }
  }

}
